{% extends '_base.html' %}
{% block content %}
<div class="container">
    <p class="display-4 inline-group">{{ question }}</p>
    <a href="{{ question.get_update_url }}" class="text-dark"><span class="float-right ml-3"><i
                class="fa fa-pencil fa-lg" aria-hidden="true"></i></span></a>
    <a href="{{ question.get_delete_url }}" class="text-dark"><span class="float-right ml-3"><i
                class="fa fa-times-circle-o fa-lg" aria-hidden="true"></i></span></a>

    <form action="" method="post"></form>
    {% for choice in question.choice_set.all %}
    <p class="display-4">{{ choice.choice_text }}</p>
    {% endfor %}
</div>

{% endblock content %}