{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ classroom.name }}{% endblock title %}

{% block appname %}
<a href="{{ classroom.get_absolute_url }}" class="navbar-brand my-0 font-weight-normal">
    {{ classroom.name|title|truncatechars:20 }}
</a>
{% endblock appname %}

{% block navcenter %}
<nav class="m-auto">
    <a class="p-2 text-dark text-decoration-none" href="">
        Stream
    </a>
    <a class="p-2 text-dark text-decoration-none" href="">
        Classwork
    </a>
    <a class="p-2 text-dark text-decoration-none" href="{{ classroom.get_people_url }}">
        People
    </a>
</nav>
{% endblock navcenter %}