{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block appname %}{{ classroom.name|title }}{% endblock appname %}
{% block title %}{{ classroom.name }}{% endblock title %}

{% block content %}

<div class="container">
    <div class="jumbotron">
        <div class="d-flex justify-conten mt-n5 mx-n2">
            <a class="ml-auto text-decoration-none text-dark" role="button" id="dropdownMenuLink" aria-haspopup="true"
                aria-expanded="false" data-toggle="dropdown" href="{{ classroom.get_absolute_url }}">
                <i class="fa fa-cog fa-lg" aria-hidden="true"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="" type="button" data-toggle="modal" data-target="#exampleModalCenter">Get
                    class code</a>
                {% if user in classroom.students.all %}
                <a class="dropdown-item" href="{{ enrollment.get_delete_url }}" type="button">Un Enroll</a>
                {% elif user == classroom.created_by %}
                <a class="dropdown-item" href="{{ classroom.get_delete_url }}" type="button">Delete</a>
                {% endif %}
            </div>
        </div>
        <h1 class="display-4">{{ classroom }}</h1>
        <p class="lead">{{ classroom.subject }} | {{ classroom.section }} | {{ classroom.room }}</p>

    </div>
    <p>
        <a href="#postForm" class="btn btn-light btn-block p-3 text-left" data-toggle="collapse" role="button"
            aria-expanded="false" aria-controls="postForm">
            <small>Share something with your class!</small>
        </a>
    </p>

    <div class="collapse" id="postForm">
        <div class="card p-4 mt-3 rounded-lg shadow">
            <form action="" method="post">
                {% csrf_token %}
                {{ form|crispy }}

                <div class="d-flex justify-content-end">
                    <a href="#postForm" class="btn btn-light ml-2" data-toggle="collapse" role="button"
                        aria-expanded="false" aria-controls="postForm">
                        Cancel
                    </a>
                    <button type="submit" class="btn btn-success ml-2">Save</button>
                </div>
            </form>
        </div>
    </div>
    {% for post in classroom.posts.all %}
    <div class="card p-2 mt-3 rounded-lg">
        <div class="card-header border-bottom-0 bg-white">
            <div>{{ post.title }}</div>
            <small class="text-muted">
                {{ post.author }},
                {{ post.created_on|date:"j M" }}
                (Edited {{ post.updated_on.time }})
            </small>
        </div>
        <div class="card-body">
            {{ post.content }}
        </div>
    </div>
    {% endfor %}
</div>

{% include 'classroom/_classroom_modal.html' %}
{% endblock content %}