{% extends 'classroom/_classroom_base.html' %}

{% block title %}Classroom{% endblock title %}

{% block content %}
<div class="mb-3">
    <button type="submit" class="btn btn-light"><i class="fa fa-sticky-note-o fa-lg p-2" aria-hidden="true"></i>
        <p class="text-primary d-inline">
            To-do
        </p>
    </button>
    <button type="submit" class="btn btn-light"><i class="fa fa-calendar fa-lg p-2" aria-hidden="true"></i>
        <p class="text-primary d-inline">
            Calendar
        </p>
    </button>
</div>
<div class="row">
    {% for classroom in classroom_list %}
    <div class="col-12 col-lg-6 col-xl-3">
        <a href="{{ classroom.get_absolute_url }}" class="text-decoration-none text-dark">
            <div class="card rounded-lg shadow mb-3">
                <div class="card-header d-flex">
                    <h5 class="font-weight-light">{{ classroom.name }}</h5>
                    <a class="ml-auto text-decoration-none text-dark" role="button" id="dropdownMenuLink"
                        aria-haspopup="true" aria-expanded="false" data-toggle="dropdown"
                        href="{{ classroom.get_absolute_url }}">
                        <i class="fa fa-ellipsis-v fa-sm" aria-hidden="true"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                        <button class="dropdown-item" type="button">Copy invite link</button>
                        <button class="dropdown-item" type="button">Edit</button>
                        <button class="dropdown-item" type="button">Archive</button>
                        <button class="dropdown-item" type="button">Delete</button>
                    </div>
                </div>
                <img src="" alt="" class="card-img-top">
                <div class="card-body">
                    <p class="card-text font-weight-light">
                        This is a wider card with supporting text below as a natural
                        lead-in to additional content. This content is a little bit longer.
                    </p>
                </div>
                <div class="card-footer bg-white d-flex justify-content-end">
                    <button type="submit" class="btn btn-light btn-sm ml-2"><i class="fa fa-user-o"
                            aria-hidden="true"></i></button>
                    <button type="submit" class="btn btn-light btn-sm ml-2"><i class="fa fa-folder-o"
                            aria-hidden="true"></i></button>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock content %}