{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block appname %}{{ classroom.name|title }}{% endblock appname %}
{% block title %}{{ classroom.name }}{% endblock title %}

{% block content %}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">{{ classroom }}</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
            featured content or information.</p>
    </div>
    <div class="card p-2 mt-3 rounded-lg">
        <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-light btn-block">Save</button>
        </form>
    </div>
    {% for post in classroom.posts.all %}
    <div class="card p-2 mt-3 rounded-lg">
        <div class="card-header border-bottom-0 bg-white">
            <div>{{ post.title }}</div>
            <small class="text-muted">
                {{ post.author }},
                {{ post.created_on|date:"j M" }}
                (Edited {{ post.updated_on.time }})
            </small>
        </div>
        <div class="card-body">
            {{ post.content }}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}